.App{
  background-color: #696969;
  color: #dbdbdb;
}

.full {
  width: 100vw;
  height: 100vh;
}
.flex {
  display: flex;
}
.content-center {
  justify-content: center;
  align-items: center;
}
.flex-col {
  flex-direction: column;
}

.gap-30 {
 gap: 30px;
}