.StatusWindow .status {
  display: flex;
  align-items: center;
  gap: 5px;
}
.StatusWindow .status label::after{
  content: " :";
}

.StatusWindow .status .active{
  color: #4ed54e;
}

.StatusWindow .status .down{
  color: #f54949;
}